<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div id="editorContainer">
        <textarea id="textEditor">{{ .Content }}</textarea>
        <div id="buttonContainer">
            <button id="undoButton">Undo</button>
            <button id="redoButton">Redo</button>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>
